
/* Your CSS Code here. */

table{
	border: 1px solid lightgrey;
}

th{
	border: 1px solid lightgrey;
	padding : 10px;
}
td{
	border: 1px solid lightgrey;
	padding : 10px;
	text-align:center;
}

li{
	padding : 10px;
}